@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #FDFBF8;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #BFB2A3;
  border-radius: 4px;
}

.custom-scrollbar {
  scrollbar-color: #BFB2A3 #f1f1f1;
  scrollbar-width: thin;
}

.offer-permanent { 
  background-color: #86A382; 
  color: #fff; 
}

.offer-freetier { 
  background-color: #A39182; 
  color: #333; 
}

.offer-trial { 
  background-color: #D4C7B8; 
  color: #333; 
}

.offer-combined { 
  background-color: #BFB2A3; 
  color: #333; 
}
